@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

button,
a,
img {
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ); /* remove  blue background when button clicked */
}

.bd-container {
  max-width: 1240px;
  margin: 0 1rem;
}

@media screen and (min-width: 1240px) {
  .bd-container {
    margin: 0 auto;
  }
}
